extends baseEmail

block content

  p Hi #{firstName},
      p `To reset passowrd please submit a PATCH request to #{url} with the new password and password confirmation`
      p ( Web site for this action not yet implemented)
      table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td(align='left')
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td
                        a(href=`${url}`, target='_blank') Upload user photo



